body {
  margin: 0;
  font-family: Helvetica;
  background-color: #101010;
  color: white;
  font-weight: bold;
}

.profile-header {
  background: linear-gradient(to bottom, #ff3c3c, #101010);
  padding: 2rem 2rem 2rem;
  text-align: left;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.username {
  margin: auto 0;
  h2, p {
    margin: 0.2rem auto;
  }
  span {
    color: rgb(200, 200, 200);
    font-weight: 100;
  }
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.icons span {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}

#following {
  border: 1px solid white;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border-radius: 5rem;
  margin-left: 0;
}

.playlist-section {
  padding: 0 1rem;
}

.playlist {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  &:hover {
    background-color: rgb(40, 40, 40);
  }
}

.playlist img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.playlist-info h3 {
  margin: 0;
  font-size: 1rem;
}

.playlist-info p {
  margin: 0.25rem 0 0;
  color: #aaa;
  font-size: 0.9rem;
  font-weight: 100;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #101010;
  display: flex;
  justify-content: space-around;
  padding: 0.7rem 0;
  font-size: .8rem;
  text-align: center;
  line-height: 1.35rem;
  font-weight: 100;
  color: rgb(200, 200, 200);
  i {
    font-size: 1.2rem;
  }
  #selected {
    color: white
  }
}
